body {
    background-color: powderblue;
}

div {
    text-align: center;
}

h2 {
    color: darkblue;
}

input {
    border-radius: 10px;
    margin-top: 10px;
    width: 1500px;
    background: khaki;
    
}
