@model WebParser.Models.CorrectUrl

@{
    ViewBag.Title = "Write URL";
}

<head>

    <link rel="stylesheet" href="~/Content/IndexStyle.css">

</head>

<Body>

    <h1>Paste the link to article to see what is in it</h1>

<div>

    @using (Html.BeginForm())
    {
        @Html.EditorFor(m => m)
        <input type="submit" value="Check this out"/>
    }

</div>

</Body>
